@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Black.ttf') format('ttf'),
        url('Mulish-Black.ttf') format('ttf');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-BlackItalic.ttf') format('ttf'),
        url('Mulish-BlackItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Bold.ttf') format('ttf'),
        url('Mulish-Bold.ttf') format('ttf');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Medium.ttf') format('ttf'),
        url('Mulish-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-BoldItalic.ttf') format('ttf'),
        url('Mulish-BoldItalic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-BookItalic.ttf') format('ttf'),
        url('Mulish-BookItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Bold.ttf') format('ttf'),
        url('Mulish-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-MediumItalic.ttf') format('ttf'),
        url('Mulish-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Book.ttf') format('ttf'),
        url('Mulish-Book.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-BookItalic.ttf') format('ttf'),
        url('Mulish-BookItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Bold.ttf') format('ttf'),
        url('Mulish-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Black.ttf') format('ttf'),
        url('Mulish-Black.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-XLight.ttf') format('ttf'),
        url('Mulish-XLight.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Light.ttf') format('ttf'),
        url('Mulish-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-ThinItalic.ttf') format('ttf'),
        url('Mulish-ThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-UltraItalic.ttf') format('ttf'),
        url('Mulish-UltraItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-XLightItalic.ttf') format('ttf'),
        url('Mulish-XLightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Thin.ttf') format('ttf'),
        url('Mulish-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-ExtraBold.ttf') format('ttf'),
        url('Mulish-ExtraBold.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap; 
}
 
@font-face {
    font-family: 'Mulish';
    src: url('Mulish-ExtraBoldItalic.ttf') format('ttf'),
        url('Mulish-ExtraBoldItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

