//override
//$primary: $verde-1;
//$dark: $azul-1;

$naranja-1: #ff5a5e;
$naranja-2: #f5845e;
$naranja-3: #f78383;
$naranja-4:#fa7f86;
$verde-1: #27bdaf;
$verde-2: #93e98b;
$verde-3: #dde9f7;
$verde-4: #1eb4ae;
$verde-5: #83d9d6;
$verde-6: #00bad8;
$amarillo-1: #ffbb68;
$azul-1: #17b1df;
$azul-2: #3f7ecb;
$azul-3: #20306b;
$azul-4: #233f90;
$azul-5: #273b91;
$azul-6: #22357a;
$azul-7: #1f2f6a;
$gris-1: #d4d8e1;
 
//nuevos colores

$azul-01: #22397f;
$gris-01: #9c9d9e;
$gris-02: #e4e5e4;
$gris-03: #5d6165;
$aqua-1: #05b3ad;
$aqua-2: #daf7df;
$azul-03: #3062b7;
$azul-bg:#dde9f7;

// override

$primary: $verde-1;
$secondary: $azul-03;
$danger: $naranja-1;

$navbar-light-color: $verde-1;
$navbar-light-hover-color: rgba($verde-1, 0.7);
$navbar-light-active-color: rgba($verde-1, 0.9);
$navbar-light-disabled-color: rgba($verde-1, 0.3);
$navbar-light-toggler-border-color: rgba($verde-1, 0.1);

$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;
