@import "variables";

footer {
  position: relative;
  .bg-footer {
    height: 120%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 60%,
      $verde-5 60%,
      $verde-5 100%
    );
  }
  #scene-2 {
    position: relative;
    & > div {
      width: 100%;
      position: relative;
      top: 0;
      & + div {
        position: absolute;
      }
      img {
        width: 100%;
      }
    }
  }
  .frm-footer {
    .text-center {
      h2 {
        font-weight: 500;
        font-family: 'Oswald';
        text-transform: none;
        color: #fff;
        font-size: 28px;
        margin-bottom: 24px;
      }
    }
    .fa{
      font-size: 32px;
    }
    position: absolute;
    bottom: -20%;
    right: 0;
    left: 0;
    color: white;
    font-weight: 100;
    text-align: center;
    font-size: small;
    font-family: "Mulish";
    span,
    input {
      display: block; 
    }
    input {
      max-width: 100%;
      background-color: transparent;
      border: solid 2px; 
      color: inherit;
      border-width: 2px 0 2px 2px;
      &::placeholder {
        color: inherit;
        font-weight: inherit;
      }
      &:focus {
        outline: none;
      }
    }
    a {
      color: white;
      font-family: 'Oswald';
      font-weight: 200;
    }
    .container {
      & > .row {
        & + .row {
          margin-top: 36px;
        }
      }
    }
    .btn-light {
      color: $verde-4;
      font-weight: 600;
      text-transform: none !important;
      font-family: 'Oswald';
    }
  }
  @include media-breakpoint-down(sm) {
    .frm-footer {
      .container{
        .col-3 {
          flex: 0 0 100%;
          max-width: 100%;
       }
      }
      span, 
      input { 
        //font-size: 3em;  
      } 
    }
  } 
  @include media-breakpoint-down(xs) {
    .frm-footer {
      position: relative;
      background-color: $verde-5;
      top: -1px;
      input#MERGE2{
        border-width: 2px;
      }
      input#MERGE0{
        border-top-width: 0px;
      }
      .container{
        .col-3 {
          flex: 0 0 100%;
          max-width: 100%;
       }
      }
    }
  }
}
