@import "variables";

$glowLightTiming: 6s;
$lightTiming: 6s;

.home {
  h2 {
    text-transform: uppercase;
    font-size: 3.5em;
  }
  h1 {
    color: #f05a5e;
    font-weight: bold;
    margin: auto;
    font-size: 8em;
    margin-bottom: 1em;
  }

  header {
    height: 100%;
    padding-top: 400vh;
    position: absolute;
    width: 100%;
    top: 0;
    pointer-events: none;
    & > nav {
      pointer-events: all;
    }
  }
  .bg-home {

  }
  .section-0 {
    height: 400vh;
    pointer-events: none;
    .container-fluid {
      .row {
        height: 100vh;
      }
    }

    #intro-wrapper{
      overflow: hidden;
    }

    background: linear-gradient(to bottom, $azul-7 0%, $azul-6 100%);
    .efecto {
      .animacion {
        display:none;
       /* border: solid 1px;
        width: 34px;
        height: 56px;
        position: absolute;
        bottom: -80px;
        border-radius: 17px;
        padding: 0px 11px;
        color: #f38283; 
        margin: auto;
        left: 0;
        right: 0;
        z-index: 2;*/

        &:before {
          content: "";
          border-radius: 50%;
          background-color: #f38283;
          display: inline-block;
          width: 10px;
          height: 10px;
          animation: animacion 2s infinite;
        }
      }
      @keyframes animacion {
        0% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(28px);
          opacity: 1;
        }

        100% {
          transform: translateY(28px);
          opacity: 0;
        }
      }
    }
    .intro {
      position: relative;
      .ola-l,
      .ola-r {
        position: absolute;
        z-index: 1;
        max-height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateX(-75%);
      }
      .ola-r {
        transform: translateX(75%);
      }

      .capa-1,
      .capa-2,
      .capa-3,
      .capa-4 {
        position: absolute;
        z-index: 3;
        max-width: 1024px;
        width: 56%;
        left: 0;
        right: 0;
        margin: auto;
      }
      .capa-1 {
        position: relative;
        z-index: 2;
      }
      .capa-2 {
        bottom: 2%;
      }
      .capa-3 {
        bottom: 4%;
      }
      .capa-4 {
        bottom: 6%;
      }
    }
    // n is number of stars required
    @function multiple-box-shadow($n) {
      $value: "#{random(2000)}px #{random(2000)}px #FFF";
      @for $i from 2 through $n {
        $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
      }

      @return unquote($value);
    }

    $shadows-small: multiple-box-shadow(900);
    $shadows-medium: multiple-box-shadow(200);
    $shadows-big: multiple-box-shadow(100);

    #stars1 {
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
      animation: animStar 150s linear infinite;
      &:after {
        content: "";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
      }
    }
    #stars2 {
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
      animation: animStar 100s linear infinite;

      &:after {
        content: "";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
      }
    }

    #stars3 {
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
      animation: animStar 50s linear infinite;
    }
    &:after {
      content: "";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }

    @keyframes animStar {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-2000px);
      }
    }
  }
  .section-1 {
    overflow: hidden;
    text-align: center;

    #scene-1 {
      display: inline-block;
      position: relative;
      & > div {
        width: 100%;
        position: relative;
        top: 0;
        & + div {
          position: absolute;
          height: 100%;
        }
        img {
          width: 100%;
        }
        .container {
          height: 100%;
        }
      }
      .capa-corte {
        &::before {
          height: 50%;
          width: 100%;
          content: "";
          background: linear-gradient(
            180deg,
            rgba(0, 186, 216, 0.8) 0%,
            rgba(0, 186, 216, 0) 98.08%
          );
          left: 0;
          bottom: 0;
          position: absolute;
        }
      }
      .luz-faro {
        position: relative;
        height: 100%;
        display: flex;
        transform: translate(-28.5%, -36%);
        align-items: center;
        .shining-lights-container {
          position: absolute;
          width: 100%;
          animation: left-to-right;
          animation-duration: $lightTiming;
          animation-iteration-count: infinite;
          animation-delay: 0s;
          animation-direction: reverse;
          animation-timing-function: linear;
          left: 0;
          right: 0;
          margin: auto;
        }
        @keyframes left-to-right {
          0% {
            transform: rotateY(0deg);
            opacity: 1;
          }
          50% {
            transform: rotateY(-180deg);
            opacity: 0.7;
          }
          100% {
            transform: rotateY(0deg);
            opacity: 1;
          }
        }

        .shining-light-left {
          position: relative;
          height: 28px;
          width: 75%;
          background-image: linear-gradient(
            to right,
            #f9f59f 0%,
            rgba(249, 245, 159, 0) 100%
          );
          opacity: 0.7;
          float: left;
          left: 1%;
          transform: perspective(529px) rotateX(0deg) rotateY(-120deg)
            rotate(0deg);
        }

        .shining-light-right {
          position: absolute;
          height: 28px;
          right: 1%;
          width: 75%;
          background-image: linear-gradient(
            to left,
            #f9f59f 0%,
            rgba(249, 245, 159, 0) 100%
          );
          transform: perspective(529px) rotateX(180deg) rotateY(-120deg)
            rotate(0deg) skew(1deg);
        }

        .glow-shine-container {
          position: absolute;
          height: 200px;
          width: 200px;
          top: 0;
          border-radius: 100%;
          background: radial-gradient(
            ellipse at center,
            rgba(214, 205, 112, 0.6) 0%,
            rgba(211, 206, 160, 0) 100%
          );
          animation: glowing;
          animation-duration: $glowLightTiming;
          animation-iteration-count: infinite;
          animation-delay: 1s;
          animation-direction: reverse;
          animation-timing-function: linear;
          left: 0;
          right: 0;
          margin: auto;
          bottom: 0;
        }

        @include media-breakpoint-down(sm) {
          .glow-shine-container {
            height: 200px;
            width: 200px;
          }
        }
        @keyframes glowing {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(1);
          }
        }

        .shine-circle {
          border-radius: 100%;
        }

        .glow-shine-1 {
          position: absolute;
          height: 30%;
          width: 30%;
          background: #edea89;
          top: 35%;
          left: 35%;
          opacity: 0.2;
        }

        .glow-shine-2 {
          position: relative;
          height: 10%;
          width: 10%;
          background: #edea89;
          margin: auto;
          top: 45%;
          opacity: 0.1;
          animation: glowing-shine-1;
          animation-duration: $glowLightTiming;
          animation-iteration-count: infinite;
          animation-delay: 0s;
          animation-direction: reverse;
          animation-timing-function: ease-in;
        }

        @keyframes glowing-shine-1 {
          0% {
            box-shadow: 0px 0px 0px #edea89;
            opacity: 0.6;
            transform: scale(1);
          }
          50% {
            box-shadow: 0px 0px 32px #edea89;
            opacity: 1;
            transform: scale(1.2);
          }
          100% {
            box-shadow: 0px 0px 0px #edea89;
            opacity: 0.6;
            transform: scale(1);
          }
        }

        .glow-shine-3 {
          position: absolute;
          height: 50%;
          width: 50%;
          background: #edea89;
          top: 25%;
          left: 25%;
          opacity: 0.05;
        }
        .glow-shine-4 {
          position: absolute;
          height: 70%;
          width: 70%;
          background: #edea89;
          top: 15%;
          left: 15%;
          opacity: 0.05;
        }
        .glow-shine-5 {
          position: absolute;
          height: 100%;
          width: 100%;
          background: #edea89;
          top: 0%;
          left: 0%;
          opacity: 0.05;
        }
      }
    }
  }
  #donate {
    position: sticky;
    top: 0;
    z-index: 1020;
    pointer-events: none;
    div {
      position: absolute;
      display: inline-block;
      //border: solid 1px;
      transform: rotate(-90deg);
      transform-origin: right bottom;
      right: 0;
      width: 100vh;
      text-align: center;
      top: -171px;
      overflow: hidden;
      a {
        position: relative;
        z-index: 1;
        color: $verde-3;
        font-size: 48px;
        font-weight: bold;
        text-decoration: none;
        pointer-events: all;
        //letter-spacing: 0.25em;
        line-height: 2em;
      }
      &::before {
        content: "";
        display: inline-block;
        height: 100px;
        width: 100px;
        //border: solid 1px;
        background-image: url(../../img/home/section-2/pulpo.gif);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        transform: rotate(90deg);
        pointer-events: none;
        position: relative;
        bottom: -2em;
        margin-right: 1em;
        animation: pulpo 4s linear infinite alternate-reverse;
        @keyframes pulpo {
          from {
            transform: rotate(95deg) translateY(-20%);
          }
          to {
            transform: rotate(85deg) translateY(20%);
          }
        }
      }
    }
  }
  .section-2 {
    position: relative;

    h2 {
      font-size: 48px;
      color: $verde-3;
    }
    p {
      text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    }
    .pez-1 {
      transform: translateY(3em);
    }

    .pez-2 {
      position: relative;
      z-index: 1;
      margin-bottom: 4em;
    }
  }
  .section-3 {
    position: relative;
    background-image: url(../../img/home/section-4/bg-1.png?v=1);
    background-repeat: no-repeat;
    background-position: 75% 25%;
    background-size: 215px 153px;
    h2 {
      font-size: 48px;
      color: $verde-3;
      padding-left: 8.33%;
    }
    h3 {
      cursor: pointer;
      font-weight: bold;
      font-size: 2em;
    }
    #passionAccordion {
      .card {
        .card-header {
          background-color: #dde9f7;
          color: #22397f;
        }
        .card-body {
          background-color: #fff;
          color: #5d6165;
          font-family: "Mulish";
          font-weight: 200;
          h4{
            font-size: 24px;
            color: #22397f;
          }
        }
      }
    }
    .row.tiburon {
      transform: translateY(-4em);
      pointer-events: none;
      margin-left: -24.5%;
      #tiburonTxt {
        font-size: 1.25em;
        letter-spacing: 0.5em;
        font-weight: 500;
        fill: $verde-3;
        animation: tiburonTxt 25s linear infinite;
        & + img {
          position: absolute;
          top: 0;
          left: 0;
          padding: 3em;
          //animation: tiburonImg 4s infinite alternate-reverse;
        }
        @keyframes tiburonTxt {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(-360deg);
          }
        }
        /* @keyframes tiburonImg {
          from {
            transform: translateX(-10%);
          }
          to {
            transform: translateX(10%);
          }
        }*/
      }
    }
  }
  .section-4 {
    &::before {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      bottom: 0;
      background-image: url(../../img/home/section-4/bg-2.png);
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: bottom center;
      z-index: 0;
      pointer-events: none;
      height: 100%;
    }
    .fish-eye {
      position: relative;
      height: 500px;
      //border: solid 1px;
      display: flex;
      align-items: center;
      perspective: 1000px;
      background-image: url(../../img/home/section-4/circuloVector1.png?v=1);
      background-position: center;
      //background-attachment: fixed;
      background-repeat: no-repeat;
      transition-duration: 1s;
      overflow: hidden;
      .menu-3d {
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 0.5s;
        display: block;
        width: 75%;
        margin: auto;
        left: 0;
        right: 0;
        padding: 0;
        height: 200px;
        li {
          display: block;
          position: absolute;
          width: 100%;
          height: 200px;
          label {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 4em;
            font-weight: bold;
            color: $verde-3;
            text-transform: uppercase;
            span {
              opacity: 0;
              transition-duration: 1s;
              display: flex;
              height: 100%;
              cursor: pointer;
              justify-content: center;
              align-items: center;
              font-family: 'Oswald';
            }
            input {
              display: none;
            }
          }
        }
        @for $i from 0 through 5 {
          li:nth-child(#{$i + 1}) {
            transform: rotateX(#{$i * 60}deg) translateZ(175px);
          }
        }
      }

      &.selected-0 {
        .menu-3d {
          li:nth-child(1) {
            label {
              span {
                opacity: 1;
                transform: scale(1.2);
              }
            }
          }
          li:nth-child(6),
          li:nth-child(2) {
            label {
              span {
                opacity: 0.5;
              }
            }
          }
        }
      }

      &.selected-1 {
        background-image: url(../../img/home/section-4/circuloVector4.png?v=1);
        .menu-3d {
          //transform: rotateX(60deg);
          li:nth-child(6) {
            label {
              span {
                opacity: 1;
                transform: scale(1.2);
              }
            }
          }
          li:nth-child(5),
          li:nth-child(1) {
            label {
              span {
                opacity: 0.5;
              }
            }
          }
        }
      }

      &.selected-2 {
        background-image: url(../../img/home/section-4/circuloVector2.png?v=1);
        .menu-3d {
          //transform: rotateX(120deg);
          li:nth-child(5) {
            label {
              span {
                opacity: 1;
                transform: scale(1.2);
              }
            }
          }
          li:nth-child(4),
          li:nth-child(6) {
            label {
              span {
                opacity: 0.5;
              }
            }
          }
        }
      }

      &.selected-3 {
        background-image: url(../../img/home/section-4/circuloVector3.png?v=1);
        .menu-3d {
          //transform: rotateX(180deg);
          li:nth-child(4) {
            label {
              span {
                opacity: 1;
                transform: scale(1.2);
              }
            }
          }
          li:nth-child(5),
          li:nth-child(3) {
            label {
              span {
                opacity: 0.5;
              }
            }
          }
        }
      }
      &.selected-4 {
        background-image: url(../../img/home/section-4/circuloVector4.png?v=1);
        .menu-3d {
          li:nth-child(3) {
            label {
              span {
                opacity: 1;
                transform: scale(1.2);
              }
            }
          }
          li:nth-child(2),
          li:nth-child(4) {
            label {
              span {
                opacity: 0.5;
              }
            }
          }
        }
      }
      &.selected-5 {
        background-image: url(../../img/home/section-4/circuloVector2.png?v=1);
        .menu-3d {
          li:nth-child(2) {
            label {
              span {
                opacity: 1;
                transform: scale(1.2);
              }
            }
          }
          li:nth-child(1),
          li:nth-child(3) {
            label {
              span {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }

    #pulpoCarousel {
      padding-bottom: 2em;
      & > div {
        display: none;
      }
      & > div {
        .card {
          background-color: $azul-bg;
          color: $gris-03;
        }
      }
      /*& > div:nth-child(1) {
        .card {
          background-color: $naranja-3;
          color: $verde-3;
        }
      }
      & > div:nth-child(2) {
        .card {
          background-color: $azul-1;
          color: $verde-2;
        }
      }
      & > div:nth-child(3) {
        .card {
          background-color: $amarillo-1;
          color: $naranja-2;
        }
      }*/
      &.selected-0 {
        & > div:nth-child(1) {
          display: flex;
        }
      }
      &.selected-1,
      &.selected-4 {
        & > div:nth-child(2) {
          display: flex;
        }
      }
      &.selected-2,
      &.selected-5 {
        & > div:nth-child(3) {
          display: flex;
        }
      }
      &.selected-3 {
        & > div:nth-child(4) {
          display: flex;
        }
      }
      .card-text {
        font-family: "Mulish";
      }
    }
    .btn-more {
      position: absolute;
      right: 0;
      left: 0;
      width: 150px;
      margin: auto;
    }
  }
  .section-5 {
    h2 {
      font-size: 48px;
      color: $verde-3;
    }
    color: white;
    p {
      margin: 0;
      font-family: "Mulish";
      font-size: 2em;
    }
    .numero {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 7em;
        font-weight: bold;
      }
      small {
        font-size: 8em;
        font-weight: bold;
      }
      &.numero-sm {
        small {
          font-size: 4em;
        }
      }
    }
    #carouselParrafos {
    }
    #carouselNumeros {
    }
    @include media-breakpoint-down(sm) {
      .numero {
        font-size: 4px;
      }
      p {
        font-size: 1.2em; 
      }
    }
  }
  .section-1,
  .section-2, 
  .section-3,
  .section-4,
  .section-5 {
    min-height: 100vh;
    //border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    & > div {
      width: 100%;
    }
  }
  .section-6 {
    position: relative;
    z-index: 1;
    h2,
    h3 {
      font-size: 48px;
      color: $verde-3;
      font-weight: bold;
    }
    color: #fff;
  }
}
@include media-breakpoint-up(lg) {
  .home {
    .section-3 {
      .row.justify-content-center {
        & > div:nth-child(1) {
          transform: translateX(8.33%);
          padding-left: 4.166%;
        }
        & > div:nth-child(2) {
          transform: translate(-8.33%, 30%);
          padding-right: 4.166%;
        }
      }
    }
    .section-2 {
    }
  }
}

@include media-breakpoint-up(md) {
  .home {
  }
}

@include media-breakpoint-down(md) {
  .home {
    h1 {
      font-size: 6em;
    }
    .section-2 p {
      font-size: 2em;
    }
    .section-3 {
      .row.tiburon {
        margin-left: -12.5%;
        transform: translateY(-14em);
        height: 0;
      }
    }
    .section-5 {
      margin-bottom: -6em;
    }
  }
}

@include media-breakpoint-down(sm) {
  .home {
    header {
      padding-top: 0px;
    }

    .section-1 {
      .luz-faro {
        transform: translate(-7%, -36%) !important ;
      }
    }
    .row.tiburon {
      display: none;
    }
    h1 {
      font-size: 4em;
    }
    .section-2 {
      .pez-1 {
        transform: translateY(0em);
      }
      .btn-more {
        width: 100%;
      }
    }
    .section-3 {
      .row.tiburon {
        transform: translateY(-8em);
      }
      h3 {
        text-align: center;
      }
    }
    .section-4 {
      background-size: 284% 41%;
      background-position: 5% 3%;
      .btn-more {
        bottom: -1.5em;
        width: auto;
        left: -1px;
        right: -1px;
      }
    }
    .section-5 {
      margin-bottom: 4em;
    }
    #donate {
      display: none;
    }
  }
}

@include media-breakpoint-down(xs) {
  .home {
    header {
      padding-top: 0px;
    }

    .section-1 {
      .luz-faro {
        transform: translate(-7%, -36%) !important ;
      }
      #scene-1 {
        > div {
          img {
            width: 200%;
          }
        }
      }
    }
    .row.tiburon {
      display: none;
    }
    h1 {
      font-size: 3em;
    }
    .section-2 {
      .pez-1 {
        transform: translateY(0em);
      }
      .btn-more {
        width: 100%;
      }
    }
    .section-3 {
      h3 {
        text-align: center;
      }
    }
    .section-4 {
      background-size: 284% 41%;
      background-position: 5% 3%;
      .fish-eye {
        height: 400px;
        background-size: 80%;
        .menu-3d {
          height: 100px;
          li {
            height: 100px;
            label {
              font-size: 2em;
            }
          }
          @for $i from 0 through 5 {
            li:nth-child(#{$i + 1}) {
              transform: rotateX(#{$i * 60}deg) translateZ(87.5px);
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .home {
    .section-4 {
      .fish-eye {
        .menu-3d {
          li {
            label {
              font-size: 2.85em;
            }
          }
        }
      }
    }
  }
}
