@import "variables";

header {
  position: sticky;
  top: 0;
  z-index: 1020;
  font-family: 'Oswald';
  .navbar {
    background-color: $azul-6;
    transition-duration: 1s;
    &.scrolled {
      background-color: rgba($azul-6, 0.8);
    }
    a {
      &.navbar-brand {
        & > .img-fluid {
          max-width: 64px;
        }
      }
    }
    .btn-danger {
      font-weight: 400;
      //border-radius: 5px;
      margin: 5px 0px;
      text-transform: uppercase;
      background: none;
      border: 1px solid $gris-1;
      &:hover {
        background: white;
        color: $verde-1;
      }
    }
    .navbar-nav {
      .nav-link {
        position: relative;
        overflow: hidden;
        text-transform: capitalize;
        &::before {
          content: "";
          position: absolute;
          background-image: url('../../img/bg/wave.svg');
          background-position: bottom;
          background-repeat: repeat-x;
          background-size: auto 15%;
          text-decoration: none;
          bottom: 0px;
          width: 100px;
          height: 100%;
          opacity: 0;
          //transition-duration: 1s;
        }
        &:hover {
          &::before {
            opacity: 1;
          }
        }
      }

      .active {
        pointer-events: none;
        .nav-link {
          &::before {
            opacity: 1;
            background-image: url('../../img/bg/wave2.svg') !important;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  header {
    .navbar {
      &.scrolled {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1020;
      }
      .navbar-nav {
        .nav-link {
          text-align: center;
          font-size: xxx-large;
          &::before {
            width: 100%;
            left: 0%;
          }
        }
        .btn-danger { 
          width: 100%;
        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  header {
    .navbar {
      .btn-danger { 
        width: 100%; 
        margin: 10px auto;
      }
    }
  }
}
