.page {
  //overflow: hidden;//para que no se desborden los peces

  .page-generica{
    padding-bottom: 75vh;
    padding-top: 150px;
    h1{
      margin-top: 0;
    }
    p{
      color: #fff;
    }
    h6{
      color: #fff;
    }
  }

  section {
    &:last-of-type {
      position: relative;
      z-index: 1;
    }
  }
  &.about {
    
    color: #fff;
    h2,
    h3 {
      font-size: 52px;
      font-weight: bold;
    }
    h3{
      color: $amarillo-1;
    }
    .btn-white {
      text-transform: initial !important;
    }
    section {
      //min-height: 100vh;
      display: flex;
      align-items: center;
      margin-bottom: 100px;
      &.section-1 {
        .nota {
          color: white;
          margin-top: 75px;
          text-align: center;
          font-size: 25px;
        }
        .pez-1 {
          transform: translateY(-1em);
        }
      }
      &.section-2,
      &.section-3 {
        h2 {
          margin-bottom: 34px;
          //color: $verde-3;
          //font-size: 48px;
        }
      }
      &.section-4 {
        .info {
          font-weight: 600;
          font-size: 24px;
          text-align: center;
        }
        h2 {
          color: $verde-3;
          //font-size: 48px;
        }
        h3 {
          color: $verde-3;
          //font-size: 52px;
          margin-top: 64px;
        }
        .modal-content {
          background-color: $azul-03;
          color: white;
          .content {
            overflow-y: auto;
            max-height: 50vh;
            &::-webkit-scrollbar {
              width: 10px;
            }

            h4 {
              font-family: "Oswald";
            }

            p {
              font-family: "Mulish";
            }

            /* Track */
            &::-webkit-scrollbar-track {
              border: solid 1px #fff;
              background-color: $azul-03;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: #fff;
            }
          }
        }
        .item-member {
          cursor: pointer;
          text-align: center;
          padding: 0 15%;
          .foto {
            position: relative;
            padding: 10%;
            overflow: hidden;
            border-radius: 50%;
            img {
              border-radius: 50%;
              border: 1px solid $verde-1;
              transition-duration: 0.3s;
              position: relative;
              z-index: 1;
            }
            &::before {
              position: absolute;
              z-index: 0;
              -webkit-border-radius: 50%; 
              -moz-border-radius: 50%; 
              border-radius: 50%;
              transition-duration: 0.6s;
              transform: scale(0.8);
              content: "";
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: radial-gradient(
                ellipse at center,
                white 0%,
                white 25%,
                rgba(white, 0.8) 25%,
                rgba(white, 0.8) 50%,
                rgba(white, 0.6) 50%,
                rgba(white, 0.6) 75%
              );
            }
          }
          h4 {
            color: white;
            font-weight: 600;
            font-size: 26px;
            transition-duration: 0.3s;
            margin-top: -40px;
            position: relative;
            z-index: 2;
          }
          .btn.btn-white {
            margin-top: 20px;
            p {
              font-family: "Oswald";
              margin: 0;
              font-weight: 400;
            }
          }
          &:hover {
            h4 {
              color: $naranja-3;
            }
            img {
              transform: scale(0.95);
            }
            .foto {
              &::before {
                transform: scale(3);
              }
            }
          }
        }
      }
      &.section-5 {
        h2 {
          //color: white;
        }
      }
      &.section-6 {
        h2 {
          font-size: 52px;
          //color: white;
        }
        .form-control {
          color: $azul-03;
          font-size: 26px;
          &::placeholder {
            color: $azul-03;
          }
        }
      }
      &.section-7 {
        padding: 50px 0px;
        color: #22397f;
        & > div {
          position: relative;

          & > div {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            min-height: 100%;
            width: 100%;
            margin: auto;
            height: fit-content;
          }
        }
        .bg-1,
        .bg-2,
        .bg-3,
        .bg-4 {
          background-repeat: no-repeat;
          pointer-events: none;
        }
        .bg-1 {
          background-image: url(../../img/about/section-4/fishes.png);
          background-size: 275px 101px;
          background-position: 74% 2%;
          z-index: 1;
        }

        .bg-2 {
          background-image: url(../../img/about/section-2/tuna.png);
          background-size: 138px 50px;
          background-position: 90% 20%;
          z-index: 1;
        }

        .bg-3 {
          background-image: url(../../img/about/section-4/tiburon.png);
          background-size: 286px 190px;
          background-position: left bottom;
          z-index: 1;
          margin-left: -15%;
          margin-bottom: -7%;
        }

        .bg-4 {
          background-image: url(../../img/about/section-4/tortuga.png);
          background-size: 222px 159px;
          background-position: 64% bottom;
          z-index: 1;
          margin-bottom: -5%;
        }

        h2 {
          font-weight: bold;
          font-size: 48px;
          color: $verde-3;
          background-color: $naranja-3;
          padding: 48px;
        }

        .contenido {
          background-color: $azul-bg;
          color: $gris-03;

          h2 {
            background-color: #dde9f7;
            color: #22397f;
          }

          & > div {
            padding: 0 48px 48px;
          }

          p {
            font-size: 18px;
            color: $gris-03;
            font-family: "Mulish";
          }
        }

        & > div {
          & > div {
            &:nth-child(1) {
              z-index: 1;
              position: relative;
            }
          }
        }

        @include media-breakpoint-down(md) {
          h2 {
            font-size: 36px;
            padding: 24px;
          }

          picture {
            overflow: hidden;

            &::before {
              content: "";
              padding-top: 75%;
              display: block;
            }

            img {
              position: absolute;
              top: 0;
            }
          }

          .contenido {
            & > div {
              padding: 0 24px 24px;
            }
          }

          .bg-1,
          .bg-2,
          .bg-3,
          .bg-4 {
            display: none;
          }
        }

        @include media-breakpoint-down(sm) {
          picture {
            display: none;
          }

          h2 {
            text-align: center;
          }

          section {
            &.section-2 {
              margin-bottom: 80px;
            }
            &.section-3 {
              margin-bottom: 80px;
            }
            &.section-4 {
              h3 {
                margin-top: 100px;
              }
            }
          }
          .contenido {
            p {
              font-size: 14px;
            }
          }
        }
      }
    }

    .img-item {
      height: 100%;
      width: 100%;
      perspective: 1000px;
      position: relative;
      margin: 0;
      input {
        display: none;
      }
      & > div {
        transform-style: preserve-3d;
        height: 100%;
        transition-duration: 1s;
        & > div:nth-of-type(1) {
          background-color: $azul-03;
          padding: 44px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
        }
        & > div:nth-of-type(2) {
          background-color: $aqua-1;
          transform: rotateY(180deg);
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          padding: 24px;
          & > div {
            height: 100%;
            overflow-y: auto;
            color: white;
            p {
              font-family: "Mulish";
            }
            strong {
              margin-bottom: 24px;
              display: block;
            }
            /* width */
            &::-webkit-scrollbar {
              width: 10px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
              border: solid 1px #fff;
              background-color: $aqua-1;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: #fff;
            }
          }
        }
      }

      .img-fluid {
        margin-bottom: 24px;
      }
      &.with-info {
        cursor: pointer;
        input:checked + div {
          transform: rotateY(180deg);
        }
      }
    }

    @include media-breakpoint-down(lg) {
      h2,
      h3 {
        font-size: 48px;
      }
    }
    @include media-breakpoint-down(md) {
      .btn.btn-white.btn-lg {
        font-size: 16px;
        padding-left: 6px;
        padding-right: 6px;
      }
      
    }

    @include media-breakpoint-down(sm) {
      h2,
      h3 {
        font-size: 36px;
      }
      section {
        overflow: hidden;
      }
      .img-item {
        margin-bottom: 1em;
        height: auto;
      }
    }
  }
  &.our-work {
    h1 {
    }
    color: white;
    h2,
    h3 {
      font-size: 60px;
      font-weight: bold;
      color: #dde9f7;
    }
    h3{
      color: white;
    }

    section {
      min-height: 94vh; 
      display: flex;
      align-items: center;
      .container { 
      }
    }

    .section-2 {
      h2 {
        
      }
      .borde-amarillo-2 {
        .carousel {
        }
      }
    }

    .section-3 {
      h3 {
        color: $verde-3;
      }
    }

    .section-4 {
      #slider-proyectos {
        position: relative;
        .swiper-slide {
          padding: 0 0 20px 20px;
        }
        .swiper-button-next,
        .swiper-button-prev {
          color: white;
        }
        .swiper-button-next {
          right: -32px;
        }
        .swiper-button-prev {
          left: -32px;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      h2,
      h3 {
        font-size: 48px;
      }
    }
    @include media-breakpoint-down(md) {
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
      section {
        min-height: 0;
        padding: 75px 0;
      }
      h3,
      h2 {
        padding-top: 20px;
      }
    }

    @include media-breakpoint-down(sm) {
      h2,
      h3 {
        font-size: 36px;
      }
    }
  }

  &.partners {
    h1 {
    }
    color: white;
    h2,
    h3 {
      font-size: 60px;
      font-weight: bold;
    }
    h3{
      color: $amarillo-1;
    }

    section {
      min-height: 100vh;
      display: flex;
      align-items: center;
    }

    .section-2 {
      p {
        font-size: 24px;
      }
    }

    @include media-breakpoint-down(lg) {
      h2,
      h3 {
        font-size: 48px;
      }
      section {
        overflow: hidden;
      }
    }
    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
      h2,
      h3 {
        font-size: 36px;
      }
    }
  }
  &.get-involved {
    .fondo-cuadro-amarillo-1 p {
      font-size: 1rem;
      font-weight: 100;
    }
    .section-1 {
      overflow: hidden;
      padding-top: 125px;
      p {
        color: white;
      }
      h1 {
        font-size: 64px;
    text-align: center;
    color: #dde9f7;
    padding-bottom: 0.5em;
    margin-top: 0;
      }
      h2 {
        font-size: 48px;
        font-weight: bold;
        color: #dde9f7;
        text-transform: uppercase;
        text-align: center;
        margin: revert;
      }
     
      .section-1-1 {
        p {
          font-size: 32px;
          text-align: center;
          color: #fff;
          padding: 0px 6%;
        }
      }
    }
    .interships {
      h2 {
        display: none;
        font-weight: bold;
        font-size: 48px;
        color: $verde-3;
        position: sticky;
        top: 178px;
        z-index: 2;
        pointer-events: none;
      }
    }

    h3 {
      font-size: 36px;
      font-weight: bold;
      margin: revert;
      text-transform: uppercase;
      margin-top: 10%;
      color: white;
    }

    section {
      min-height: 100vh;
      display: flex;
      align-items: center;
      //border: solid 1px;

      & > div {
        width: 100%;
        position: relative;

        & > div {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          min-height: 100%;
          width: 100%;
          margin: auto;
          height: fit-content;

          &:nth-child(1) {
            position: relative;
            z-index: 1;
          }
        }
      }

      .tablero {
        position: relative;

        label {
          margin: 0;
          display: block;
          font-family: "Oswald";
        }

        span + div {
          transition-duration: 1s;
          max-height: 0vh;
          overflow: hidden;
          opacity: 0;
        }

        .row {
          & > div {
            padding: 40px 40px 16px;

            p {
              color: $azul-3;
              color: #5d6165;
            }
          }
        }

        input {
          display: none;

          &:checked {
            & ~ div {
              max-height: 100vh;
              opacity: 1;
            }
          }
        }

        span {
          display: block;
      width: 33.33%;
      z-index: 1;
      font-weight: bold;
      font-size: 24px;
      cursor: pointer;
      transition-duration: 1s;
      text-align: center;
      padding: 8px 16px;
        }

        strong {
          font-family: "Mulish";
          font-size: 1.5rem;
          font-weight: 400;
          padding-bottom: 32px;
          display: block;
        }

        .fila-2,
        .fila-3 {
          span {
            position: absolute;
            top: 0;
          }
        }

        .fila-2 {
          span {
            margin-left: 33.33%;
          }
        }

        .fila-3 {
          span {
            margin-left: 66.67%;
          }
        }
      }

      &.section-1 {
        display: block;
        div {
          position: initial;
        }
        .buzo {
          text-align: right;
          img {
            width: 20%;
            //transform: translateX(125%);
          }
          svg {
            width: 25%;
            g {
              fill: $verde-2;
              font-size: 216px;
            }
          }
        }
      }

      &.section-2 {
        min-height: auto;
        h2 {
          font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin: revert;
        
        }
        h3 {
          color: #fff;
        }
        p {
          color: white;
        }
      }
      &.section-3,
      &.section-4 {
        min-height: auto;
        margin-top: 100px;
        .apply {
          color: $verde-3;
          text-align: center;

          a {
            color: inherit;
            color: #fff;
          }

          .btn.btn-more {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        .embed-responsive {
          margin-bottom: -40%;
          overflow: visible;

          .embed-responsive-item {
            .bg {
              border-radius: 50%;
              position: absolute;
              height: 100%;
              width: 100%;
              left: 0;
              top: 0;
              overflow: hidden;
              transform: scale(0.9);
              z-index: -1;
              &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                animation: bg infinite alternate-reverse 1s;
              }
            }
          }
        }
      }
      &.section-6 {
        min-height: auto;
        & > div > div {
          position: initial !important;
        }
        h2{
          color: #dde9f7;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: revert;
    margin-top: 8%;
        }
      }
      @keyframes bg {
        from {
          transform: scale(1);
        }

        to {
          transform: scale(2);
        }
      }

      &.section-3, &.section-4 {
        color: $gris-02;

        .apply {
          .btn.btn-more {
            background-color: white;
            color: $azul-6;
            font-weight: 400;
          }
        }

        .tablero {
          span {
            border-color: #dde9f7;
          }

          span + div {
            background-color:#fff;
          }

          label {
            color: #22357a;
          }
        }

        span {
          color: #22357a;
        }

        input {
          &:checked {
            & + span {
              background-color: #dde9f7;
    color: #22357a;
            }
          }
        }

        .embed-responsive {
          .embed-responsive-item {
            img {
              transform: translate(5%, 10%) scale(1.3);
            }

            .bg {
              &::before {
                background: radial-gradient(
                  ellipse at center,
                  $azul-bg 0%,
                  $azul-bg 25%,
                  rgba(white, 0.8) 25%,
                  rgba(white, 0.8) 50%,
                  rgba(white, 0.6) 50%,
                  rgba(white, 0.6) 75%
                );
              }
            }
          }
        }
      }


      &.section-3, &.section-4 {
        

        .embed-responsive {
          .embed-responsive-item {
            img {    
              transform: translateY(5%);
            }
          }
        }
      }

      @include media-breakpoint-down(md) {
        .tablero {
          span {
            font-size: 22px;
          }

          strong {
            font-size: 22px;
          }

          .row {
            & > div {
              padding: 32px 32px 8px;
            }
          }
        }

        &.section-3,
        &.section-4 {
          .embed-responsive {
            margin-bottom: 40px;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        .tablero {
          span {
            border-width: 1px;
            border-style: solid;
          }

          span {
            font-size: 22px;
            position: initial !important;
            width: 100%;
            margin: 0 !important;
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .interships {
        h2 {
          //display: none;
          position: initial;
          text-align: center;
        }

        h3 {
          font-size: 36px;
          text-align: center;

          & + p {
            text-align: center;
          }
        }
      }
    }
  }

  &.donate {
    h2,
    h3 {
      font-size: 48px;
      color: $verde-3;
      font-weight: bold;
    }
    .overflow-hidden {
    }
    .flechas {
      font-size: 54px;
      text-align: right;
      display: block;
      color: white;
      display: block;

      i.fa {
        animation: flechas 2s infinite;
        opacity: 0;

        &:nth-child(2) {
          animation-delay: 0.6666s;
        }

        &:nth-child(3) {
          animation-delay: 1.3333s;
        }
      }
    }

    .section-2 {
      .col-md-4 {
        
        p{
            color:#fff; 
        }
        
        &:first-child{
          a.donateLinks{
            img{
              width: 30%;
            }
          }
        } 
        a.donateLinks{
          min-height: 167px;
          display: block;
          margin-bottom: 4%;
          img{ 
            width: 75%;
             text-align: center;
             vertical-align: middle;
             align-items: center;
             display: flex;
             margin: 0 auto;
          }
        }
        &:last-child{
          a.donateLinks{
            img{
              padding-top:9%;
            }
          }
        }
      }
    }

    @keyframes flechas {
      0% {
        opacity: 0.1;
      }

      33.3333% {
        opacity: 1;
      }

      66.6666% {
        opacity: 0.3;
      }

      100% {
        opacity: 0.2;
      }
    }

    section {
      .bg-1,
      .bg-2,
      .bg-3,
      .bg-4 {
        background-repeat: no-repeat;
        pointer-events: none;
      }

      .fondo-cuadro-amarillo-1 {
         a.btn{
           display:none;
         }
        p {
          font-size: 1rem;
          font-weight: 100;
          text-align:center;
          padding-top:10px;
        }
      }
      &.section-1 {
        overflow: hidden;
        p {
          color: white;
        }
        h1 {
          text-align: center;
        }
        h2 {
          color: #fff;
          font-size: 36px;
          font-size: 2rem;
          text-align: center;
          margin: revert;
          margin-top: 8%;
        }
        h3 {
          color: #fff;
        }
        .section-1-1 {
          p {
            font-size: 32px;
            text-align: center;
            color: #fff;
            padding: 0px 6%;
          }
        }
      }

      &.section-2 {
        h2 {
          color: $verde-3;
          font-size: 52px;
          font-weight: bold;
          margin-bottom: 48px;
        }

        .bg-1 {
          background-image: url(../../img/donate/section-2/mandarin.png);
          background-size: 148px 112px;
          background-position: 0 0;
          margin-left: -120px;
          margin-top: 26px;
        }

        .donaciones {
          position: relative;

          .bolsa {
            content: "";
            background-image: url(../../img/donate/section-2/visor.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            z-index: 1;
            pointer-events: none;
            width: 160px;
            height: 145px;
            right: -15%;
            top: 0px;
            position: absolute;
            background-color: transparent;
          }

          .bolsa-wrapper {
            height: auto !important;
            background: none !important;

            /*animation-name: bolsa;
                      animation-duration: 2s;
                      animation-timing-function: ease-in-out;
                      animation-direction: alternate-reverse;
                      animation-iteration-count: infinite;*/
            @keyframes bolsa {
              from {
                transform: translateX(0);
              }
              to {
                transform: translateX(-150px);
              }
            }
          }

          & > a {
            font-size: 48px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            padding: 16px 0;
            display: block;
            text-decoration: none;
            cursor: none;
          }

          & > div {
            //height: 200px;
            background-color: white;
            text-align: center;
          }
        }

        .colapsable {
          p {
            padding: 0;
            margin: 0;
            font-family: "Mulish";
          }

          span {
            cursor: pointer;
            display: block;
            font-size: 2em;
            font-weight: bold;
            line-height: 58px;
            position: relative;
            padding: 16px 22px;
            font-family: "Oswald";
            & + div {
              max-height: 0;
              transition: all 1s;
              position: relative;
              overflow: hidden;
              padding: 0 22px;
              background-color: white;
              color: #5d6165;
            }
          }

          input {
            display: none;

            &:checked {
              & ~ div {
                max-height: 100vh;
                padding: 16px 22px;
              }
            }
          }

          label {
            display: block;
            margin: 0;
            background-color: #dde9f7;
            color: #22397f;
          }
        }

        & > div {
          & > div {
            &:nth-child(1) {
              position: relative;
            }
          }
        }

        @include media-breakpoint-down(md) {
          h2 {
            text-align: center;
          }

          .donaciones {
            margin-top: 120px;

            & > div {
              display: none;
            }
          }
        }

        @include media-breakpoint-down(sm) {
          h2 {
            font-size: 36px;
          }

          .bg-1 {
            background-size: 90px 68px;
            margin-left: -30px;
            margin-top: 92px;
          }

          .colapsable {
            span {
              font-size: 30px;
              line-height: 36px;
            }
          }

          .donaciones {
            margin-top: 80px;

            .bolsa {
              width: 73px;
              height: 90px;
              top: -62px;
            }

            & > a {
              font-size: 32px;
            }
          }
        }
      }
    }
    @include media-breakpoint-down(lg) {
      h2,
      h3 {
        font-size: 48px;
      }
    }
    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
      h2,
      h3 {
        font-size: 36px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    
  }

  @include media-breakpoint-down(md) {
    .archive.razon { 
      section {
        h2{ 
          font-size: 30px;
        }
        h3{
          font-size: 19px;
        }
        &.section-1 {
        }
      }
    }
    .bg-peces-1 {
      .bg::after{
        display: none;
      }
    }
  }

  @include media-breakpoint-down(sm) {

    .archive.razon {
      section {

        h2{ 
          font-size: 30px;
        }
        h3{
          font-size: 19px;
        }
        &.section-1 {
        }
      }
    }
     
    .bg-peces-1 {
      .bg::after{
        display: none;
      }
    }

  }
}

.page {
  &.partners,
  &.our-work,
  &.get-involved,
  &.donate {
    section {
     
    }
  }
}

.archive.razon {
  section { 
    &.section-1 {
     
    }
  }
}
