.archive.razon {
  .section {
    margin-bottom: 170px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
    }
    .container {
      position: relative;
    }

    &.section-main {
      overflow: hidden;
      h2 {
        //color: white;
        text-transform: none;
      }
      &::before,
      &::after {
      }
    }
    h2 {
      color: $verde-3;
      font-weight: 600;
      font-size: 48px;
      text-transform: uppercase;
      margin: 0;
      line-height: 1em;
      text-align: center;
    }

    h3 {
      font-size: 30px;
      font-weight: 400;
      color: white;
      text-transform: none;
      text-align: center;
    }

    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          position: relative;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          &::before {
            content: "";
            padding-top: 46.1538%;
            display: block;
          }

          & > div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        }
      }

      .swiper-pagination {
        text-align: right;

        .swiper-pagination-bullet {
          width: 16px;
          height: 16px;
          width: 28px;
          height: 28px;
          text-align: center;
          vertical-align: middle;
          font-weight: 400;
          font-size: small;
          color: #20306b;
          border: 3px solid #dde9f7;
          background-color: transparent;
          opacity: 1;

          &.swiper-pagination-bullet-active {
            background-color: #dde9f7;
          }
        }
      }
    }

    .modal-header {
      border: none;

      .close {
        border: solid 1px white;
        width: 2em;
        height: 2em;
        padding: 0;
        border-radius: 50%;
        color: white;
        opacity: 1;
        position: absolute;
        right: 56px;
        top: 56px;
        z-index: 1;
      }
    }

    .modal-content {
      background-color: #dde9f7;
    }

    .tabs {
      position: absolute;
      background: white;
      top: 60%;
      z-index: 999;
      left: 0;
      right: 0;
      display: block;
      padding: 5px 15px;
      text-align: center;
      width: 100%;
      max-width: 200px;
      margin: auto;
      margin-top: 2em;
      .col-auto {
        width: 100%;
      }
      .list-inline {
        margin: 0;
        display: inline-block;

        button {
          color: $azul-3;
          background: none;
          border: none;
          font-weight: 400;
          transition-duration: 0.3s;
          position: relative;
          outline: none !important;
          text-transform: none;
          &:hover {
            color: $naranja-2;
            &::before {
              opacity: 1;
            }
          }
        }
      }

      .row {
        &::before {
          content: "";
          background: linear-gradient(
            to right,
            #daf7df 0%,
            #daf7df 98%,
            transparent 98%,
            transparent 100%
          );
          height: 2px;
          display: block;
          flex-basis: 0;
          flex-grow: 1;
          min-width: 0;
          max-width: 100%;
        }
      }
      @include media-breakpoint-down(xs) {
        position: relative;
        width: 100%;
        display: block;
        padding: 5px 15px;
        text-align: center;
        left: 0px;
      }
    }

    .tabs-c {
      position: relative;
      text-align: center;
      min-height: calc(100vh - 10rem);

      h4 {
        font-size: 56px;
        color: #20306b;
        font-weight: bold;
        text-align: center;
        transition-duration: 0.3s;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        left: 0;
        opacity: 0;
      }

      .contenido {
        position: absolute;
        width: 100%;
        left: 0;
        padding-top: 50px;
        text-align: left;
        opacity: 0;
        transition-duration: 0.3s;
        color: #5d6165;
        height: 60vh;
        font-family: "Mulish";
        .justify-content-center {
          height: 100%;
          .texto {
            height: 100%;
            overflow: auto;

            /* width */
            &::-webkit-scrollbar {
              width: 20px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
              border: solid 1px #fff;
              background-color: #fff;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: #fff;
            }
          }
        }
      }

      & > div {
        max-width: 25%;
        display: inline-block;
        margin: 0 -0.125em;
        padding-top: 100px;
      }

      label {
        & > span {
          padding: 0 16px;
          cursor: pointer;
          display: block;
          transition-duration: 0.3s;
          color: #2658ad;
          position: relative;
          font-weight: bold;

          &::before {
            content: "";
            position: absolute;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 1s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ffbb68' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E") !important;
            background-position: bottom;
            background-repeat: repeat-x;
            background-size: auto 20%;
            bottom: -10px;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition-duration: 0.3s;
            left: 0;
          }
        }

        input {
          display: none;

          &:checked {
            & ~ .contenido {
              opacity: 1;
            }

            & ~ h4 {
              opacity: 1;
            }

            & ~ span {
              color: $amarillo-1;

              &::before {
                opacity: 1;
              }
            }
          }
        }
      }

      @include media-breakpoint-down(md) {
        h4 {
          font-size: 42px;
        }
      }

      @include media-breakpoint-down(sm) {
        h4 {
          font-size: 36px;
        }
        & > div {
          max-width: 50%;
        }
      }
    }

    @include media-breakpoint-down(md) {
      h2 {
        font-size: 28px;
      }

      h3 {
        font-size: 20px;
      }
    }

    @include media-breakpoint-down(sm) {
      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 14px;
        text-align: center;
      }
    }

    /*&.section-1 {
      h2 {
        color: $verde-3;
        font-weight: 600;
        font-size: 48px;
        text-align: center;
        @include media-breakpoint-down(sm) {
          font-size: 30px;
        }
      }

      h3 {
        color: white;
        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }

    &.section-2 {
      h2 {
        color: $verde-3;
        font-weight: 400;
        font-size: 48px;
        text-align: center;
        @include media-breakpoint-down(sm) {
          font-size: 30px;
        }
      }

      h3 {
        color: white;
        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }

    &.section-3 {
      h2 {
        color: $verde-3;
        font-weight: 400;
        font-size: 48px;
        text-align: center;
        @include media-breakpoint-down(sm) {
          font-size: 30px;
        }
      }

      h3 {
        font-weight: 400;
        color: white;
        text-transform: none;
        text-align: center;
        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }

    &.section-4 {
      h2 {
        color: $verde-3;
        font-weight: 400;
        font-size: 48px;
        @include media-breakpoint-down(sm) {
          font-size: 30px;
        }
      }

      h3 {
        color: white;
        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }

    &.section-5 {
      h2 {
        color: $verde-3;
        font-weight: 400;
        font-size: 48px;
        @include media-breakpoint-down(sm) {
          font-size: 30px;
        }
      }

      h3 {
        color: white;
        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }*/
  }
}
