@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "navbar";
@import "home";
@import "footer";
@import "page";
@import "razon";
 
body {
  background-color: #037fd3;
  position: relative;
  font-family: "Mulish";
  h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald' !important;
  }
  &.modal-open {
    section {
      z-index: auto !important;
    }
  }
  h1.text-center{
    margin-bottom: 25px;
    font-size: 64px;
  }
  a{
    color: #f88383;
    &:hover{
      color: #1a7e74;
    }
  }
  .form-control{
    font-family: "Mulish";
    font-weight: 200;
  }
  h2{
    color: $verde-3;
  }
  button,.btn{
    text-transform: uppercase;
    font-family: 'Oswald';
  }
  p{
    font-family: "Mulish";
  font-weight: 100;
  }
  .archive,
  .page {
    @include media-breakpoint-down(sm) {
      padding-top: 90px;
    }
  }
  #bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before,
    &::after,#canvas {
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    &::before {
      background-image: url("../../img/bg-1.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
    } 
    &::after {
      background-image: url("../../img/bg/burbujas.svg");
      background-size: 45% auto;
      opacity: 0.1;      
      background-position-x: -25%;
      @-moz-document url-prefix() { 
        content: none !important;
      }
    } 
  }
  #transition {
    padding: 0;
    display: flex;
    position: fixed;
    z-index: 1021;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
    flex-direction: column-reverse;
    background-color: #161e38;
    background: linear-gradient(
      to bottom,
      #161e38 0%,
      #161e38 54%,
      transparent 54%,
      transparent 100%
    );
    transform-origin: top center;
    svg {
      width: 100%;
      height: 56%;
      position: relative;
      margin-bottom: -4%;
    }
  }
}

.btn {
  &.btn-danger {
    color: $gris-1;
  }
}

@keyframes float-1 {
  from {
    transform: translateY(-5%) rotate(-1deg);
  }
  to {
    transform: translateY(5%) rotate(1deg);
  }
}

.float-1 {
  transform-origin: bottom center;
  animation: float-1 4s linear infinite alternate-reverse;
}

@keyframes float-2 {
  from {
    transform: translateY(-2%) rotate(-1deg);
  }
  to {
    transform: translateY(2%) rotate(1deg);
  }
}

.float-2 {
  animation: float-2 4s linear infinite alternate-reverse;
}

.btn {
  &.btn-more {
    background-color: $white;
    padding: 5px 10px;
    font-weight: lighter;
    color: $azul-01;
    font-size: 20px;
    font-weight: 400;
  }
  &.btn-white {
    background-color: white;
    color: $azul-01;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    //border-radius:5px;
    &.btn-lg {
      font-size: 22px;
    }
  }
} 

.borde-amarillo-1 {
  box-shadow: -20px 20px 0px 5px $azul-01; 
  background-color: $azul-bg;
  color: $gris-03;
  padding: 26px 32px;
  p {
    font-family: "Mulish";
  }
  .input[type="submit"] {
    font-family: "Oswald";
    font-size: 1.3rem;
  } 
  @include media-breakpoint-down(sm) {
    box-shadow: none;
  }
}

.fondo-cuadro-amarillo-1 {
  color: #fff;
  background-size: 0 0;
  h1 {
    color: white;
  }
  //height: 472px;
  height: auto;
  position: relative !important;
  display: flex;
  flex-flow: column;
  justify-content: center;
  .btn-modal {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: none;
  }
  p {
    font-weight: 100;
    font-size: 25px;
  }
  .text-right {
    margin-top: 20px;
    a {
      position: relative;
      z-index: 1;
    }
  }
  &::after {
    content: "";
    width: 153px;
    height: 223px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: $naranja-4;
    z-index: -1;
  }
  .bg-imagen,
  .bg-video {
    content: "";
    height: 472px;
    //position: absolute;
    position: relative;
    width: 80%;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 5%;
    //background-image: inherit;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
  }
  .bg-video {
    display: none;
    background: none;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .bg-imagen {
    //height: 270px;
  }

  &.with-video {
    &::before {
      content: none;
    }
    .bg-video {
      display: block;
    }
    .btn-modal {
      display: block;
    }
  }
  @include media-breakpoint-down(md) {
    min-height: 378px;
    &::before,
    .bg-video {
      height: 378px;
      width: 90%;
    }
  }
  @include media-breakpoint-down(sm) {
    .btn-modal {
      display: none;
    }
    height: auto;
    &::before,
    .bg-video {
      //position: relative;
      width: 100%;
      right: 0;
      height: 232px;
      z-index: 1;
    }
    h2 {
      text-align: center;
    }
    .text-right {
      margin-top: 0px;
    }
    &::after {
      content: none;
    }
  }
  @include media-breakpoint-down(xs) {
    .bg-imagen {
      height: 250px;
      width: 100%;
      right: 0;
    }
  }

  & + .modal {
    .modal-content {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.borde-amarillo-2 {
  box-shadow: -10px 10px 0px 5px $azul-01;
}

.borde-amarillo-2-right {
  box-shadow: 10px 10px 0px 5px $azul-01;
}

.carousel-1 {
  background-color: $azul-03;
  height: 100%;
  .carousel-inner {
    height: 100%;
  }
  .carousel-item {
    height: 100%;
    .img-fluid {
      max-height: 100%;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    height: 54px;
    width: 54px;
    bottom: 0;
    top: auto;
    background-color: $verde-4;
  }
  .carousel-control-prev {
    right: 54px;
    left: auto;
  }
}
.cita {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  color: white;
  font-family: "Mulish";
  padding-left: 20px;
  padding-right: 20px;
  .text {
    position: relative;
    padding: 28px 32px;
    p {
      margin: 0;
    }
    &::before,
    &::after {
      position: absolute;
      font-family: FontAwesome;
      font-size: 32px;
    }
    &::before {
      content: "\f10d";
      left: -16px;
      top: 0;
    }
    &::after {
      content: "\f10e";
      right: -16px;
      bottom: 0;
    }
  }
  .text-by {
  }
}

.modal-header {
  border: none;
  .close {
    border: solid 1px white;
    width: 2em;
    height: 2em;
    padding: 0;
    border-radius: 50%;
    color: white;
    opacity: 1;
    position: absolute;
    right: 56px;
    top: 56px;
    z-index: 1;
  }
}

.pez-1 {
  position: relative;
  z-index: 1;
  margin-right: 262px;
  text-align: left;
  img {
    position: relative;
    animation: pez-1 8s infinite;
  }
}

@keyframes pez-1 {
  0% {
    left: 0%;
    transform: rotateY(0deg);
  }
  49% {
    left: 100%;
    transform: rotateY(0deg);
  }
  50% {
    left: 100%;
    transform: rotateY(180deg);
  }
  51% {
    transform: rotateY(180deg);
    left: 100%;
  }
  99% {
    transform: rotateY(180deg);
    left: 0%;
  }
  100% {
    transform: rotateY(0deg);
    left: 0%;
  }
}

//fondos
.bg-peces-1 {
  position: relative;
  .bg {
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      background-size: 100% 100%;
    }
    &::after {  
      width: 220px; 
      height: 147px;
      background-image: url(../../img/bg/peces-1/shark.png);
      right: 0;
      transform: translate(121px, -90px);
      @include media-breakpoint-down(sm) {
        display:none;
      }
    }
    &::before {
      width: 129px;
      height: 123px;
      background-image: url(../../img/bg/peces-1/sardinas.png);
      left: 0;
      transform: translate(-76px, -90px);
    }
  }
  @include media-breakpoint-down(sm) {
    .bg {
      &::after {
        transform: translate(121px, 90px);
      }
      z-index: -1;
    }
  }
}


.bg-peces-2 {
  position: relative;
  .bg {
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      background-size: 100% 100%;
    }
    &::before {
      width: 355px;
      height: 126px;
      background-image: url(../../img/bg/peces-2/sharkw.png);
      left: 0;
      transform: translate(-76px, -90px);
    }
  }
  @include media-breakpoint-down(md) {
    .bg {
      &::before {
        z-index: -1;
        width: 310px;
        height: 110px;
        transform: translate(5px, -165px);
      }
    }
  }
}
.bg-peces-3 {
  position: relative;
  .bg {
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      background-size: 100% 100%;
    }
    &::after {
      width: 265px;
      height: 211px;
      background-image: url(../../img/bg/fishes-3/fishes.png);
      right: 0;
      transform: translate(0px, -45px);
      z-index: -1;
    }
    &::before {
      background-image: url(../../img/bg/fishes-3/turtle-2.png);
      width: 355px;
      height: 253px;
      left: 0;
      transform: translate(0px, 170px);
      z-index: -1;
    }
  }
  @include media-breakpoint-down(sm) {
    .bg {
      &::after {
        transform: translate(121px, 310px);
      }
      &::before {
        transform: translate(58px, -140px);
        width: 230px;
        height: 180px;
      }
    }
  }
}
//slider-seed
.slider-seed {
  height: 260px;
  //border: solid 1px green;
  overflow: hidden;
  & > div {
    height: 1040px;
    //border: solid 1px red;
    & > div {
      height: 260px;
      //border: solid 1px red;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

form {
  .btn.btn-secondary {
    font-family: "Oswald" !important;
    color: #fff;
    background-color: #22397f;
    border-color: #22397f;
  }
}


.page,.archive.razon {
  h1 {
    font-size: 64px;
    font-weight: bold;
    color: #dde9f7;
    text-transform: uppercase;
    margin-top: 150px;
  }
  h4{
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
  }
  .section-1{
    min-height: auto !important;
  }
}